.ev_charger_avalability{
  border: 1px solid #D1D1D1;
  padding: 1.5rem;
  border-radius: 5px; 
 
 
.switch_lable{
  .css-3kk9v9-MuiTypography-root {
    margin: 0 0.5rem; 
  }
  .css-7td9p1{
    margin: 0 0.5rem;
  }
}
.delete_img{
  cursor: pointer;
}
 
.btn_footer{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  padding-top: 2rem;
 
.update{
   background-color: #74993F;
   color: #ffffff;
   border-radius: 30px;
   width: 156px;
   height: 48px;
}
.cancel{
  background-color: #ffffff;
   color: #74993F;
   border: 1px solid #74993F;
   border-radius: 30px;
   width: 156px;
   height: 48px;
}

}
.battery_availability{
  .react-datepicker__input-container{
    input{
      max-width: 87px !important;
      padding: 0.5rem !important;
      border-radius: 5px !important;
      overflow: hidden;
      border: 1px solid gainsboro !important;
    }
  }
  .css-a643pv-MuiStack-root>.MuiTextField-root{
    min-width: 166px;
    max-width: 166px;
  }

  .css-froe0x > .MuiTextField-root{
    min-width: 190px;
    max-width: 199px;
  }
  .css-12qs7hp-MuiInputBase-input-MuiOutlinedInput-input{
    height: 0.5rem;
  }
  .css-16sx77j{
    height: 0.5rem;
  }

}

}

.ev_charger_kwh{
  border: 1px solid #D1D1D1;
  padding: 1.5rem;
  border-radius: 5px;
  background-color: #BADA55;
  min-height: 727px;
  display: flex;
  align-items: center;
  justify-content: center;

  .energy_availble_box{
    position: relative;
    width: 270px;
    height: 270px;
      display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
  }
  .available_data{
    padding: 0rem 1rem;
    height: 56px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #000000;
  }
  .plug_availbele_container{
    padding-top: 0.5rem;

    .plug_available_card{
      width: 167px;
      height: 150px;
      background-color: #FFFFFF;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      

      img{
        width: 64px;
        height: 64px;
      }
    }
  }
}


// @media query
@media (max-width: 375px) {
  /* Styles for screens less than or equal to 375px wide */
  
  .battery_availability{
    .css-a643pv-MuiStack-root>.MuiTextField-root{
      min-width: 106px !important;
      max-width: 106px !important;
    }
  
    .css-froe0x > .MuiTextField-root{
      min-width: 106px !important;
      max-width: 106px !important;
    }
  
  }
}

@media (min-width: 768px) and (max-width: 820px) {
  /* Styles for screens between 768px and 820px wide */
  .battery_availability{
    .css-a643pv-MuiStack-root>.MuiTextField-root{
      min-width: 106px !important;
      max-width: 106px !important;
    }
  
    .css-froe0x > .MuiTextField-root{
      min-width: 106px !important;
      max-width: 106px !important;
    }
  
  }
  .change_size{
    font-size: 1rem !important;
  }
}
