.register_table {
  td{
    text-align: center;
  }
  th{
    text-align: center;
    font-weight: bold;
  }

  .row_table {
   
    &:hover {
      background-color: #D1D1D1;
      cursor: pointer;
      font-weight: bold;
      td {
        color:#000000;
      }
    }
    .react-datepicker__input-container{
      input{
        max-width: 87px !important;
        padding: 0.5rem !important;
        border-radius: 5px !important;
        border: 1px solid gainsboro !important;
        overflow: hidden;
      }
    }

  }
}
.tab_list{
  .css-14zx5er-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #000000 ;
    font-weight: bold;
}
.css-1atjjj6.Mui-selected{
  color: #000000 ;
  font-weight: bold;
}
}