p.MuiTypography-root.MuiTypography-body1.css-19h9a3k-MuiTypography-root {
  font-size: 12px;
}

.MuiTypography-root.MuiTypography-body1.css-193f7xk-MuiTypography-root {
  font-size: 12px;
}

.MuiStepContent-root.css-14yr603-MuiStepContent-root {
    margin-left: 12px;
    padding-left: 12px;
}
.MuiStepLabel-label.Mui-disabled.css-5k98g1-MuiStepLabel-label{
  color:black
}