.add-device-cancel-button {
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  padding: 10px 3rem;
  color: #000;
  border: 1px solid #9c9c9c;
}
.add-device-cancel-button:hover{
  border: 1px solid #7a7a7a
}
.add-device-add-button {
  background-color: #d1d1d1;
  color: #9c9c9c;
  border-radius: 6px;
  padding: 10px 3rem;
  border: 1px solid #d1d1d1;
}
.add-device-add-button:hover{
  border: 1px solid #7a7a7a
}